@page
@model PhanSyTrongRazorPage.Pages.Admin.ManageRoom.ListRoomModel
@{
	Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="row justify-content-lg-start">
				<div class="col-4 justify-content-around d-md-inline-flex">
					<h3>Room list</h3>
					<a asp-page="./RoomCreate" class="btn btn-outline-success "><i class="fa-solid fa-plus"></i></a>
				</div>
				<div class="col-8">
					<form class="d-md-inline-flex" role="search" method="post">
						<input style="margin-left: 6px" class="form-control me-2" type="search" placeholder="Enter room number..." aria-label="Search" asp-for="Keyword">
						<button class="btn btn-primary" style="color: #fff" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
@if (Model.Room == null || !Model.Room.Any())
{
	if (Model.isSearch)
	{
		<p>No room list found! Input another Room Number</p>
	}
	else
	{
		<p>List room is empty!</p>
	}
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Room[0].RoomId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Room[0].RoomNumber)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Room[0].RoomDetailDescription)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Room[0].RoomMaxCapacity)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Room[0].RoomType.RoomTypeName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Room[0].RoomType.TypeDescription)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Room[0].RoomStatus)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Room[0].RoomPricePerDay)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Room)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.RoomId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.RoomNumber)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.RoomDetailDescription)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.RoomMaxCapacity)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.RoomType.RoomTypeName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.RoomType.TypeDescription)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.RoomStatus)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.RoomPricePerDay)
					</td>
					<td>
						<a asp-page="./RoomEdit" asp-route-id="@item.RoomId" class="btn btn-outline-success"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
						<a asp-page="./RoomDelete" asp-route-id="@item.RoomId" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
