@page
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model MutantOrchidTradingSysRazorPage.Pages.User.AuctionModel
@{
}
<!DOCTYPE html>
<html lang="en" id="theme" class="light">


<!-- Mirrored from theme.bitrixinfotech.com/bidzone/browse-bid.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 19:15:56 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="../cdn-cgi/apps/head/hwGM7B4uQy9K8KyLEDAfJqNEXmU.js"></script>
    <link rel="shortcut icon" href="~/user/img/auction/images/auction-fevicon.png">
    <title>Browse Bid</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="~/user/css/auction/all.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/swiper.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/style.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/responsive.css" type="text/css">

</head>

<body>
    <!-- Preloader Start -->
    <div class="preloader bg-light" id="preloader">
        <span class="preloader-inner"></span>
    </div>
    <!-- Preloader End -->
    <!-- Back-to-top Start -->
    <a href="javascript:void(0)" class="back-to-top"><i class="fa-solid fa-up-long"></i></a>
    <!-- Back-to-top End -->
    <!-- Header Start !-->
    <div class="navbar-top border-bottom py-3 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4">
                    <div class="d-flex gap-2">
                        <div class="country">
                            <select name="country" class="form-control" id="country">
                                <option value="VN">
                                   VN
                                </option>
                                
                            </select>
                        </div>
                        <div class="currency">
                            <select name="currency" class="form-control" id="currency">
                                <option value="VND">
                                    VND
                                </option>
                                
                                
                            </select>
                        </div>
                        <div class="d-none align-items-center gap-1 nav-top-left">
                            <i class="fa-solid fa-envelope text-dark"></i>
                            <p class="fs-14 text-dark text-truncate">support@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="toggle-theme">
                        <input type="checkbox" class="changeTheme" id="changeTheme1">
                        <label for="changeTheme1" class="m-auto"></label>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <header class="bg-white">
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container">
                <a class="navbar-brand p-0" href="index.html">
                    <img src="~/user/img/auction/images/logo.svg" id="headerLogo" class="themeLogo img-fluid w-100" alt="logo">
                </a>
                <div class="nav-right justify-content-center" id="navbar">
                    <ul class="navbar-nav position-relative d-none d-lg-flex">
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/User/Auction">Trang Chủ Đấu Giá</a>
                        </li>
                        <li class="nav-item dropdown-tgl">
                            <a class="nav-link text-dark" href="javascript:void(0)">Auction</a>
                            <ul class="sub-menu">
                                <li><a href="/User/BidHistory">bid history</a></li>
                            </ul>
                        </li>
                       
                    </ul>
                    <ul class="navbar-nav d-block d-lg-none">
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/User/Auction">Trang Chủ Đấu Giá</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" href="javascript:void(0)" data-bs-toggle="dropdown"
                               aria-expanded="false">Auction</a>
                            <ul class="sub-menu dropdown-menu">
                                <
                                <li><a href="/User/BidHistory">bid history</a></li>
                            </ul>
                        </li>
                        <li>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex justify-content-center gap-2">
                                <div class="select">
                                    <button class="selectBtn" data-type="country">country</button>
                                    <div class="selectDropdown">
                                        
                                        <div class="option" data-type="VN">VN</div>
                                       
                                    </div>
                                </div>
                                <div class="select">
                                    <button class="selectBtn" data-type="currency">currency</button>
                                    <div class="selectDropdown">
                                        <div class="option" data-type="VND">VND</div>
                                       
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr>
                        </li>
                     
                        <li>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <div class="toggle-theme">
                                <input type="checkbox" class="changeTheme" id="changeTheme">
                                <label for="changeTheme" class="me-auto"></label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex gap-1 nav-btn-group align-items-center">
                    
                        <ul class="navbar-nav position-relative d-none d-lg-flex">
                            @if (Accessor.HttpContext.Session.GetString("username") == null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark active" href="/Login">Login</a>
                                </li>
                            }
                            else
                            {
                            <li class="nav-item dropdown-tgl">
                                <a class="nav-link text-dark" href="javascript:void(0)">@Accessor.HttpContext.Session.GetString("username")</a>
                                <ul class="sub-menu">
                                    <li><a href="/User/Profile">Thông Tin Tài Khoản</a></li>
                                    <li><a href="/User/OrderHistory">Lịch Sử Giao Dịch</a></li>
                                    <li><a href="/User/BidHistory">Lịch sử Đấu Giá</a></li>
                                    <li><a href="/Logout">Đăng Xuất</a></li>
                                </ul>
                            </li>
                            }
                            

                        </ul>
                   
                </div>
            </div>
        </nav>
    </header>
    <!-- Header End !-->
    <!-- Main Content Start !-->
    <main id="main-content" class="position-relative">
        
        <section class="outer-gap">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-xl-9">
                        <div class="auction-card-small">
                            <div class="row gy-6 justify-content-center">
                                @foreach (var auction in Model.Auctions)
                                {
                                    
                                        <div class="col-sm-6 col-lg-4">
                                            <div class="auction-card">
                                                <div class="card-image">
                                                <img src="@Url.Content(auction.Product.Path)" alt="auction-card-img">
                                                    <div class="timer-wrapper">
                                                    <div class="timer-inner" id="timer-@auction.Auction.Id">
                                                       
                                                    </div>

                                                    </div>
                                                </div>
                                                <div class="card-content">
                                                <a href="/User/Bid?id=@auction.Auction.Id" class="card-title">@auction.Product.Name</a>
                                                    <p class="p-0">Current bid <span>@auction.CurrentBid</span></p>
                                                    <div class="d-flex justify-content-between align-items-center">


                                                    @if (auction.Auction.Status == false)
                                                    {
                                                        <p>Đã Kết Thúc</p>

                                                       
                                                        <br /> <p class="p-0">Winner: @(auction.Winner != null ? auction.Winner.FullName : "N/A")</p>

                                                    }
                                                    else if(auction.Auction.StartTime > DateTime.Now)
                                                    {
                                                        <p>Chưa Bắt Đầu</p>
                                                    }
                                                    else
                                                    {
                                                        <a href="/User/Bid?id=@auction.Auction.Id" class="primary-btn">Đấu Giá Ngay</a>
                                                        <button class="like-btn"><i class="fa-regular fa-heart"></i></button>
                                                    }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                <div class="col-12">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center">

                                            @for (int i = 1; i <= Model.TotalPages; i++)
                                            {
                                                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                                    <a class="page-link" href="/User/Auction?id=@i" class="primary-btn">@i</a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Main Content End !-->
    <!-- Footer Start !-->
    <footer>
        <div class="footer-top bg-dark inner-gap">
            <div class="container">
                <div class="row gy-4 gy-lg-3">
                    <div class="col-md-12 col-lg-4">
                        <div class="footer-disc">
                            <a href="index.html" class="footer-logo">
                                <img src="~/user/img/auction/images/logo-white.svg" id="footerLogo" class="fThemeLogo img-fluid"
                                     alt="logo">
                            </a>
                            <p>
                                Tham gia vào cuộc đấu giá hấp khám phá và sở hữu những loại hoa phong lan đột biến đỉnh cao!
                                Hãy sẵn sàng cho một cuộc phiêu lưu đầy cảm xúc và kỳ diệu - cánh cửa đến với những phát hiện
                                và trải nghiệm độc đáo đang chờ bạn khám phá!
                            </p>
                            <a href="mailto:info@bidzone.com" class="h4 fw-normal text-white">Eflower@bidzone.com</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Website</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="javascript:void(0)">Hỗ Trợ</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQS</a>
                                </li>
                                <li>
                                    <a href="about.html">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="contact.html">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Các Loại Hoa</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="/User/Auction">Hoa Lan Hồng Trần</a>
                                </li>
                                <li>
                                    <a href="/User/Auction">Hoa Lan Hồng Yên Thủy</a>
                                </li>
                                <li>
                                    <a href="/User/Auction">Hoa Lan 5 Cánh Trắng Bạch Tuyết</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Điều Hướng</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="/User/Auction">Blog</a>
                                </li>
                                <li>
                                    <a href="/User/Profile">Tài Khoản Của Tôi</a>
                                </li>
                                <li>
                                    <a href="/User/BidHistory">Lịch Sử Đấu Giá</a>
                                </li>
                                <li>
                                    <a href="/User/WinningBid">Thanh Toán</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Chính Sách</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="/User/Auction">Chính Sách Bảo Mật Thông Tin</a>
                                </li>
                                <li>
                                    <a href="/User/Auction">Tổ Chức Đấu Giá Trực Tuyến</a>
                                </li>
                                <li>
                                    <a href="/User/Auction">Các Điều Khoản</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="my-4 my-lg-5 border-white">
                <div class="d-flex flex-wrap gap-4 justify-content-center justify-content-xl-between align-items-center">
                    <ul class="footer-social-links">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="bid-number">
                        <h2><span>1,50,000</span> Đấu Giá</h2>
                        <h2><span>10,376</span> Thành Viên</h2>
                        <h2><span>8942</span> Đánh Giá</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom py-2 py-md-4 bg-light">
            <p class="text-dark text-center">
                ©
                <script>document.write(new Date().getFullYear());</script> BidZone - All Rights Reserved.
            </p>
        </div>
    </footer>
    <!-- Footer End !-->
    <!-- JavaScript Libraries -->
    <script src="~/user/js/auction/jquery.min.js"></script>
    <script src="~/user/js/auction/bootstrap.bundle.min.js"></script>
    <script src="~/user/js/auction/swiper.min.js"></script>
     <script src="~/user/js/auction/custom.js"></script>
     <script src="~/user/js/dist/browser/signalr.js"></script>

    <script src="~/user/js/dist/auctionServer.js"></script> 
    @{
        var settings = new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore
            };

        string json = JsonConvert.SerializeObject(Model.Auctions, settings);
     
    }
    <script>
        var auctions = @Html.Raw(json);

        auctions.forEach(function (auction) 
        {
            var endTime = new Date(auction.Auction.EndTime).getTime();
            var startTime = new Date(auction.Auction.StartTime).getTime();
            console.log(endTime);

            var x = setInterval(function () {
                var now = new Date().getTime();
                var distance = endTime - now;
                var StartTime = startTime - now;
                var timerId = 'timer-' + auction.Auction.Id;
                console.log(auction.Auction.Id);
                var timerElement = document.getElementById(timerId);

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                timerElement.innerHTML = `<span>${days}D </span>:<span>${hours}H </span>:<span>${minutes}M </span>:<span>${seconds} S</span>`;

                if (distance < 0) {
                    clearInterval(x);
                    timerElement.innerHTML = "EXPIRED";
                    if (auction.Auction.Status == true) {
                        updateAuctionStatus(auction.Auction.Id);
                    }
                   
                }
                if(StartTime > 0) {
                    clearInterval(x);
                    timerElement.innerHTML = "Not Started";
                }
            }, 1000);
        });

        function updateAuctionStatus(auctionId) 
        {
            fetch('/User/Auction?id=' + auctionId +'&handlder=update', {
                method: 'Get'
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Auction status updated successfully');
                    } else {
                        console.error('Failed to update auction status');
                    }
                })
                .catch(error => {
                    console.error('Error updating auction status:', error);
                });
        }


    </script>


    <script>
        var swiper = new Swiper(".product-swiper", {
            spaceBetween: 32,
            autoplay: {
                delay: 1500,
                disableOnInteraction: false,
            },
            breakpoints: {
                450: {
                    slidesPerView: 1,
                },
                768: {
                    slidesPerView: 2,
                },
                992: {
                    slidesPerView: 3,
                },
                1400: {
                    slidesPerView: 4,
                },
            }
        });
        // price Range
        var lowerSlider = document.querySelector('#lower');
        var upperSlider = document.querySelector('#upper');

        document.querySelector('#two').value = upperSlider.value;
        document.querySelector('#one').value = lowerSlider.value;

        var lowerVal = parseInt(lowerSlider.value);
        var upperVal = parseInt(upperSlider.value);

        upperSlider.oninput = function () {
            lowerVal = parseInt(lowerSlider.value);
            upperVal = parseInt(upperSlider.value);

            if (upperVal < lowerVal + 4) {
                lowerSlider.value = upperVal - 4;
                if (lowerVal == lowerSlider.min) {
                    upperSlider.value = 4;
                }
            }
            document.querySelector('#two').value = this.value
        };
        lowerSlider.oninput = function () {
            lowerVal = parseInt(lowerSlider.value);
            upperVal = parseInt(upperSlider.value);
            if (lowerVal > upperVal - 4) {
                upperSlider.value = lowerVal + 4;
                if (upperVal == upperSlider.max) {
                    lowerSlider.value = parseInt(upperSlider.max) - 4;
                }
            }
            document.querySelector('#one').value = this.value
        };
    </script>
    <script>(function () { var js = "window['__CF$cv$params']={r:'8625a27eeee0e65a',t:'MTcxMDA5ODE0MC4wODQwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../cdn-cgi/challenge-platform/h/b/scripts/jsd/aeb70db32f0f/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);"; var _0xh = document.createElement('iframe'); _0xh.height = 1; _0xh.width = 1; _0xh.style.position = 'absolute'; _0xh.style.top = 0; _0xh.style.left = 0; _0xh.style.border = 'none'; _0xh.style.visibility = 'hidden'; document.body.appendChild(_0xh); function handler() { var _0xi = _0xh.contentDocument || _0xh.contentWindow.document; if (_0xi) { var _0xj = _0xi.createElement('script'); _0xj.innerHTML = js; _0xi.getElementsByTagName('head')[0].appendChild(_0xj); } } if (document.readyState !== 'loading') { handler(); } else if (window.addEventListener) { document.addEventListener('DOMContentLoaded', handler); } else { var prev = document.onreadystatechange || function () { }; document.onreadystatechange = function (e) { prev(e); if (document.readyState !== 'loading') { document.onreadystatechange = prev; handler(); } }; } })();</script>
</body>


<!-- Mirrored from theme.bitrixinfotech.com/bidzone/browse-bid.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 19:15:58 GMT -->
</html>