@page
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model MutantOrchidTradingSysRazorPage.Pages.User.BidModel
@{
}
<!DOCTYPE html>
<html lang="en" id="theme" class="light">


<!-- Mirrored from theme.bitrixinfotech.com/bidzone/bid-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 19:15:59 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="../cdn-cgi/apps/head/hwGM7B4uQy9K8KyLEDAfJqNEXmU.js"></script>
    <link rel="shortcut icon" href="~/user/img/auction/images/auction-fevicon.png">
    <title>Bid Detail</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="~/user/css/auction/all.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/swiper.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/style.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/responsive.css" type="text/css">

</head>

<body>
    <!-- Preloader Start -->
    <div class="preloader bg-light" id="preloader">
        <span class="preloader-inner"></span>
    </div>
    <!-- Preloader End -->
    <!-- Back-to-top Start -->
    <a href="javascript:void(0)" class="back-to-top"><i class="fa-solid fa-up-long"></i></a>
    <!-- Back-to-top End -->
    <!-- Header Start !-->
    <div class="navbar-top border-bottom py-3 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4">
                    <div class="d-flex gap-2">
                        <div class="country">
                            <select name="country" class="form-control" id="country">
                                <option value="VN">
                                    VN
                                </option>
                            </select>
                        </div>
                        <div class="currency">
                            <select name="currency" class="form-control" id="currency">
                                <option value="VND">
                                    VND
                                </option>
                            </select>
                        </div>
                        <div class="d-none align-items-center gap-1 nav-top-left">
                            <i class="fa-solid fa-envelope text-dark"></i>
                            <p class="fs-14 text-dark text-truncate">support@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="toggle-theme">
                        <input type="checkbox" class="changeTheme" id="changeTheme1">
                        <label for="changeTheme1" class="m-auto"></label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex gap-2 nav-btn-group align-items-center justify-content-end">
                        <a href="browse-bid.html" class="bg-transparent text-dark border-0 px-1">
                            <i class="fa-solid fa-search"></i>
                        </a>
                        <a href="login.html" class="bg-transparent text-dark border-0 px-1">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <button class="bg-transparent text-dark border-0"><i class="fa-solid fa-heart"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="bg-white">
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container">
                <a class="navbar-brand p-0" href="../Index">
                    <img src="~/user/img/auction/images/logo.svg" id="headerLogo" class="themeLogo img-fluid w-100" alt="logo">
                </a>
                <div class="nav-right justify-content-center" id="navbar">
                    <ul class="navbar-nav position-relative d-none d-lg-flex">
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/User/Auction">Trang Chủ Đấu Giá</a>
                        </li>
                        <li class="nav-item dropdown-tgl">
                            <a class="nav-link text-dark" href="javascript:void(0)">Auction</a>
                            <ul class="sub-menu">
                                
                                <li><a href="/User/BidHistory">Lịch sử Đấu Giá</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-block d-lg-none">
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/User/Auction">Trang Chủ Đấu Giá</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" href="javascript:void(0)" data-bs-toggle="dropdown"
                               aria-expanded="false">Auction</a>
                            <ul class="sub-menu dropdown-menu">
                                <
                                <li><a href="/User/BidHistory">Lịch sử Đấu Giá</a></li>
                            </ul>
                        </li>
                      
                        
                        <li class="nav-item">
                            <div class="d-flex justify-content-center gap-2">
                                <div class="select">
                                    <button class="selectBtn" data-type="country">country</button>
                                    <div class="selectDropdown">
                                        <div class="option" data-type="VN">VN</div>
                                       
                                    </div>
                                </div>
                                <div class="select">
                                    <button class="selectBtn" data-type="currency">currency</button>
                                    <div class="selectDropdown">
                                        <div class="option" data-type="VND">VND</div>
                                       
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr>
                        </li>
                        <li>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <div class="toggle-theme">
                                <input type="checkbox" class="changeTheme" id="changeTheme">
                                <label for="changeTheme" class="me-auto"></label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex gap-1 nav-btn-group align-items-center">

                    <ul class="navbar-nav position-relative d-none d-lg-flex">
                        @if (Accessor.HttpContext.Session.GetString("username") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark active" href="/Login">Đăng Nhập</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown-tgl">
                                <a class="nav-link text-dark" href="javascript:void(0)">@Accessor.HttpContext.Session.GetString("username")</a>
                                <ul class="sub-menu">
                                    <li><a href="/User/Profile">Thông Tin Tài Khoản</a></li>
                                    <li><a href="/User/OrderHistory">Lịch Sử Giao Dịch</a></li>
                                    <li><a href="/User/BidHistory">Lịch sử Đấu Giá</a></li>
                                    <li><a href="/Logout">Đăng Xuất</a></li>
                                </ul>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header End !-->
    <!-- Main Content Start !-->
    <main id="main-content" class="position-relative">
        <div class="breadcrumb-main">
            <div class="container">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/User/Auction">Trang chủ Đấu Giá</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Bid</li>
                    </ol>
                    <h1 class="breadcrumb-title">bid Details & more</h1>
                </div>
            </div>
        </div>
        <section class="single-bid-product outer-gap">
            <div class="container">
                <div class="row gy-4 gy-md-5" >
                    <div class="col-lg-8" id="AuctionId">
                        <div class="card-image">
                            <img src="@Url.Content(Model.AuctionDetail.Auction.Product.Path)" alt="auction-card-img">
                            <div class="timer-wrapper">
                                <div class="timer-inner" id="time-@Model.AuctionDetail.Auction.Id"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product-bid-widget h-100">
                            <h3 class="title">
                                @Model.AuctionDetail.Product.Name
                            </h3>
                            <ul>
                                <li><span>Country</span><span id="country">VN</span></li>
                                <li><span>Start Bid</span><span id="startBid">@Model.AuctionDetail.Auction.StartingPrice</span></li>
                                <li><span>Latest Bid</span><span id="latestBid">@Model.AuctionDetail.CurrentBid</span></li>
                                <li><span>Total Bids</span><span id="totalBids">@Model.BidCount</span></li>
                            </ul>
                            <div class="d-flex flex-wrap justify-content-between gap-2">

                                <div class="item-quantity">
                                    @if (Model.AuctionDetail.Auction.Status == false)
                                    {

                                        <p>Đã Kết Thúc</p>
                                        
                                        
                                            
                                            <p class="p-0">Winner: @(Model.AuctionDetail.Winner != null ? @Model.AuctionDetail.Winner.FullName : "N/A")</p>

                                        
                                     
                                        if(Accessor.HttpContext.Session.GetInt32("Id") == Model.AuctionDetail.Winner.Id)
                                        {
                                            <a href="/User/WinningBid?id=@Model.AuctionDetail.Auction.Id" class="primary-btn">Click here to PayMent</a>
                                        }
                                    }
                                    else
                                    {
                                    <form method="post" asp-page-handler="Bid" asp-route-id="@Model.AuctionDetail.Auction.Id">
                                        
                                      
                                            <input type="number" class="form-control" id="Amount" asp-for="@Model.amount">
                                            <button type="submit" class="primary-btn d-flex align-items-center">bid now</button>
                                        
                                   
                                    </form>
                                    }
                                </div>
                               
                                                            
                            </div>
            
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="product-detail-wrapper">
                            <ul class="nav nav-tabs d-none d-md-flex" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#home-tab-pane" type="button" role="tab"
                                            aria-controls="home-tab-pane" aria-selected="true">
                                        Decription
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                            data-bs-target="#profile-tab-pane" type="button" role="tab"
                                            aria-controls="profile-tab-pane" aria-selected="false">
                                        List of Bids
                                    </button>
                                </li>
                                
                            </ul>
                            <div class="tab-content accordion" id="myTabContent">
                                <div class="tab-pane fade show active accordion-item" id="home-tab-pane" role="tabpanel"
                                     aria-labelledby="home-tab" tabindex="0">

                                    <h2 class="accordion-header d-md-none" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            Decription
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show  d-md-block"
                                         aria-labelledby="headingOne" data-bs-parent="#myTabContent">
                                        <div class="accordion-body">
                                             
                                            <p class="mb-2">
                                                @Model.AuctionDetail.Product.Description
                                            </p>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade accordion-item" id="profile-tab-pane" role="tabpanel"
                                     aria-labelledby="profile-tab" tabindex="0">
                                    <h2 class="accordion-header d-md-none" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                           List of Bids
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse d-md-block"
                                         aria-labelledby="headingTwo" data-bs-parent="#myTabContent">
                                        <div class="accordion-body">
                                            <div class="table-responsive">
                                                <table class="table bid-history m-0">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Personal Info</th>
                                                            <th scope="col">Country</th>
                                                            <th scope="col">Place Bid</th>
                                                            <th scope="col">Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="bidTableBody">
                                                        @foreach (var bid in Model.AuctionDetail.Bids)
                                                        {
                                                        <tr>
                                                            <td>
                                                                <div class="d-flex align-items-center gap-2">
                                                                    <img src="~/user/img/auction/images/avatar-5.png"
                                                                         class="dashboard-avatar" alt="avatar">
                                                                    <p>@bid.Account.FullName</p>
                                                                </div>
                                                            </td>
                                                            <td>@bid.Account.Address</td>
                                                            <td>@bid.Amount</td>
                                                            <td>@bid.BidTime</td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Main Content End !-->
    <!-- Footer Start !-->
    <footer>
        <div class="footer-top bg-dark inner-gap">
            <div class="container">
                <div class="row gy-4 gy-lg-3">
                    <div class="col-md-12 col-lg-4">
                        <div class="footer-disc">
                            <a href="index.html" class="footer-logo">
                                <img src="~/user/img/auction/images/logo-white.svg" id="footerLogo" class="fThemeLogo img-fluid"
                                     alt="logo">
                            </a>
                            <p>
                                Unlock treasures through exhilarating auctions. Your gateway to rare finds and
                                captivating experiences awaits.
                            </p>
                            <a href="mailto:info@bidzone.com" class="h4 fw-normal text-white">info@bidzone.com</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Sitemap</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="javascript:void(0)">Support</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQS</a>
                                </li>
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Categories</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="browse-bid.html">Music</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">jewellery</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">Real Estate</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">vehicle</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">Clothes</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">sports</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Navigation</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="signup.html">my account</a>
                                </li>
                                <li>
                                    <a href="bid-history.html">Bid History</a>
                                </li>
                                <li>
                                    <a href="checkout.html">checkout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Legal</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="cookies-policy.html">Cookies Policy</a>
                                </li>
                                <li>
                                    <a href="term-condition.html">Terms Of Service</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="my-4 my-lg-5 border-white">
                <div class="d-flex flex-wrap gap-4 justify-content-center justify-content-xl-between align-items-center">
                    <ul class="footer-social-links">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="bid-number">
                        <h2><span>1,50,000</span> Bids</h2>
                        <h2><span>10,376</span> Members</h2>
                        <h2><span>8942</span> Feedbacks</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom py-2 py-md-4 bg-light">
            <p class="text-dark text-center">
                ©
                <script>document.write(new Date().getFullYear());</script> BidZone - All Rights Reserved.
            </p>
        </div>
    </footer>
    <!-- Footer End !-->
    <!-- JavaScript Libraries -->
    <script src="~/user/js/auction/jquery.min.js"></script>
    <script src="~/user/js/auction/bootstrap.bundle.min.js"></script>
    <script src="~/user/js/auction/swiper.min.js"></script>
    <script src="~/user/js/auction/custom.js"></script>
    <script src="~/user/js/dist/browser/signalr.js"></script>
    
    <script src="~/user/js/dist/auctionServer.js"></script>
    @{
        var settings = new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore
            };

        string json = JsonConvert.SerializeObject(Model.AuctionDetail, settings);

    }
    <script>
        var auction = @Html.Raw(json);
        console.log(auction);

        var endTime = new Date(auction.Auction.EndTime).getTime();
        var startTime = new Date(auction.Auction.StartTime).getTime();
        console.log(endTime);

        var x = setInterval(function () {
            var now = new Date().getTime();
            var distance = endTime - now;
            var StartTime = startTime - now;
            var timerId = 'time-' + auction.Auction.Id;
            console.log(auction.Auction.Id);
            var timerElement = document.getElementById(timerId);

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            timerElement.innerHTML = `<span>${days}D </span>:<span>${hours}H </span>:<span>${minutes}M </span>:<span>${seconds}S</span>`;
            
            if (distance < 0 ) {
                clearInterval(x);
                timerElement.innerHTML = "EXPIRED";
               
                if (auction.Auction.Status == true) {
                    updateAuctionStatus(auction.Auction.Id);
                }
                if (!localStorage.getItem('reloaded')) 
                {
                    localStorage.setItem('reloaded', 'true');
                    location.reload();
                }
            }

            if(StartTime > 0){
                clearInterval(x);
                timerElement.innerHTML = "NOT STARTED";
            }

            


        }, 1000);

        function updateAuctionStatus(auctionId) {
            fetch('/User/Auction?id=' + auctionId + '&handler=update', {
                method: 'Get'
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Auction status updated successfully');
                    } else {
                        console.error('Failed to update auction status');
                    }
                })
                .catch(error => {
                    console.error('Error updating auction status:', error);
                });
        }

        
    </script>
    <script>
        var swiper = new Swiper(".product-swiper", {
            spaceBetween: 32,
            autoplay: {
                delay: 1500,
                disableOnInteraction: false,
            },
            breakpoints: {
                450: {
                    slidesPerView: 1,
                },
                768: {
                    slidesPerView: 2,
                },
                992: {
                    slidesPerView: 3,
                },
                1400: {
                    slidesPerView: 4,
                },
            }
        });
    </script>
    <script>(function () { var js = "window['__CF$cv$params']={r:'8625a282a89fe65a',t:'MTcxMDA5ODE0MC42OTIwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../cdn-cgi/challenge-platform/h/b/scripts/jsd/aeb70db32f0f/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);"; var _0xh = document.createElement('iframe'); _0xh.height = 1; _0xh.width = 1; _0xh.style.position = 'absolute'; _0xh.style.top = 0; _0xh.style.left = 0; _0xh.style.border = 'none'; _0xh.style.visibility = 'hidden'; document.body.appendChild(_0xh); function handler() { var _0xi = _0xh.contentDocument || _0xh.contentWindow.document; if (_0xi) { var _0xj = _0xi.createElement('script'); _0xj.innerHTML = js; _0xi.getElementsByTagName('head')[0].appendChild(_0xj); } } if (document.readyState !== 'loading') { handler(); } else if (window.addEventListener) { document.addEventListener('DOMContentLoaded', handler); } else { var prev = document.onreadystatechange || function () { }; document.onreadystatechange = function (e) { prev(e); if (document.readyState !== 'loading') { document.onreadystatechange = prev; handler(); } }; } })();</script>
</body>


<!-- Mirrored from theme.bitrixinfotech.com/bidzone/bid-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 19:15:59 GMT -->
</html>