@page
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model MutantOrchidTradingSysRazorPage.Pages.User.BidHistoryModel
@{
}
<!DOCTYPE html>
<html lang="en" id="theme" class="light">


<!-- Mirrored from theme.bitrixinfotech.com/bidzone/bid-history.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 19:16:00 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="../cdn-cgi/apps/head/hwGM7B4uQy9K8KyLEDAfJqNEXmU.js"></script>
    <link rel="shortcut icon" href="~/user/img/auction/images/auction-fevicon.png">
    <title>Bid History</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="~/user/css/auction/all.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/swiper.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/style.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/responsive.css" type="text/css">

</head>

<body>
    <!-- Preloader Start -->
    <div class="preloader bg-light" id="preloader">
        <span class="preloader-inner"></span>
    </div>
    <!-- Preloader End -->
    <!-- Back-to-top Start -->
    <a href="javascript:void(0)" class="back-to-top"><i class="fa-solid fa-up-long"></i></a>
    <!-- Back-to-top End -->
    <!-- Header Start !-->
    <div class="navbar-top border-bottom py-3 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4">
                    <div class="d-flex gap-2">
                        <div class="country">
                            <select name="country" class="form-control" id="country">
                                <option value="VN">
                                    VN
                                </option>
                               
                            </select>
                        </div>
                        <div class="currency">
                            <select name="currency" class="form-control" id="currency">
                                <option value="VND">
                                    VND
                                </option>
                                
                            </select>
                        </div>
                        <div class="d-none align-items-center gap-1 nav-top-left">
                            <i class="fa-solid fa-envelope text-dark"></i>
                            <p class="fs-14 text-dark text-truncate">support@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="toggle-theme">
                        <input type="checkbox" class="changeTheme" id="changeTheme1">
                        <label for="changeTheme1" class="m-auto"></label>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <header class="bg-white">
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container">
                <a class="navbar-brand p-0" href="index.html">
                    <img src="assets/images/logo.svg" id="headerLogo" class="themeLogo img-fluid w-100" alt="logo">
                </a>
                <div class="nav-right justify-content-center" id="navbar">
                    <ul class="navbar-nav position-relative d-none d-lg-flex">
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/User/Auction">Trang Chủ Đấu Giá</a>
                        </li>
                        <li class="nav-item dropdown-tgl">
                            <a class="nav-link text-dark" href="javascript:void(0)">Auction</a>
                            <ul class="sub-menu">
                                <li><a href="/User/BidHistory">bid history</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav d-block d-lg-none">
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/User/Auction">Trang Chủ Đấu Giá</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" href="javascript:void(0)" data-bs-toggle="dropdown"
                               aria-expanded="false">Auction</a>
                            <ul class="sub-menu dropdown-menu">
                               
                                <li><a href="/User/BidHistory">bid history</a></li>
                            </ul>
                        </li>
                      
                        <hr>
                        <li class="nav-item">
                            <div class="d-flex justify-content-center gap-2">
                                <div class="select">
                                    <button class="selectBtn" data-type="country">country</button>
                                    <div class="selectDropdown">
                                        <div class="option" data-type="VN">Vn</div>
                                        
                                    </div>
                                </div>
                                <div class="select">
                                    <button class="selectBtn" data-type="currency">currency</button>
                                    <div class="selectDropdown">
                                        <div class="option" data-type="VND">VND</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr>
                        </li>
                       
                        <li>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <div class="toggle-theme">
                                <input type="checkbox" class="changeTheme" id="changeTheme">
                                <label for="changeTheme" class="me-auto"></label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex gap-1 nav-btn-group align-items-center">
                    <ul class="navbar-nav position-relative d-none d-lg-flex">
                        @if (Accessor.HttpContext.Session.GetString("username") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark active" href="/Login">Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown-tgl">
                                <a class="nav-link text-dark" href="javascript:void(0)">@Accessor.HttpContext.Session.GetString("username")</a>
                                <ul class="sub-menu">
                                    <li><a href="/User/Profile">Profile</a></li>
                                    <li><a href="/User/OrderHistory">Order history</a></li>
                                    <li><a href="/User/BidHistory">bid history</a></li>
                                    <li><a href="/Logout">Log Out</a></li>
                                </ul>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header End !-->
    <!-- Main Content Start !-->
    <main id="main-content" class="position-relative">
        <div class="breadcrumb-main">
            <div class="container">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/User/Auction">Trang chủ Đấu Giá</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Bid History</li>
                    </ol>
                    <h1 class="breadcrumb-title">Bid History & more</h1>
                </div>
            </div>
        </div>
        <div class="inner-gap">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-12">
                        <div class="bidding-history">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product Auction</th>
                                            <th>Your Bid</th>
                                            <th>Opening Bid</th>
                                            <th>Left Time</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in Model.Bids)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center gap-2">

                                                        <img src="@Url.Content(item.Auction.Product.Path)" class="dashboard-avatar" alt="bider-avatar" />

                                                        <div>
                                                            <h6>@item.Auction.Product.Name</h6>
                                                            <span class="fs-14"></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>@item.Amount</td>
                                                <td>@item.Auction.StartingPrice</td>
                                                <td>
                                                    <div class="timer-inner" id="timer-@item.Id"></div>
                                                </td>
                                                <td>
                                                    <a href="/User/Bid?id=@item.Auction.Id" class="primary-btn small-btn">View More</a>
                                                </td>

                                            </tr>
                                        }
                                       
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center mt-4 mt-md-5">
                                <button class="primary-btn">Load More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Main Content End !-->
    <!-- Footer Start !-->
    <footer>
        <div class="footer-top bg-dark inner-gap">
            <div class="container">
                <div class="row gy-4 gy-lg-3">
                    <div class="col-md-12 col-lg-4">
                        <div class="footer-disc">
                            <a href="index.html" class="footer-logo">
                                <img src="assets/images/logo-white.svg" id="footerLogo" class="fThemeLogo img-fluid"
                                     alt="logo">
                            </a>
                            <p>
                                Unlock treasures through exhilarating auctions. Your gateway to rare finds and
                                captivating experiences awaits.
                            </p>
                            <a href="mailto:info@bidzone.com" class="h4 fw-normal text-white">info@bidzone.com</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Sitemap</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="javascript:void(0)">Support</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQS</a>
                                </li>
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Categories</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="browse-bid.html">Music</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">jewellery</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">Real Estate</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">vehicle</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">Clothes</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">sports</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Navigation</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="signup.html">my account</a>
                                </li>
                                <li>
                                    <a href="bid-history.html">Bid History</a>
                                </li>
                                <li>
                                    <a href="checkout.html">checkout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Legal</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="cookies-policy.html">Cookies Policy</a>
                                </li>
                                <li>
                                    <a href="term-condition.html">Terms Of Service</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="my-4 my-lg-5 border-white">
                <div class="d-flex flex-wrap gap-4 justify-content-center justify-content-xl-between align-items-center">
                    <ul class="footer-social-links">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="bid-number">
                        <h2><span>1,50,000</span> Bids</h2>
                        <h2><span>10,376</span> Members</h2>
                        <h2><span>8942</span> Feedbacks</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom py-2 py-md-4 bg-light">
            <p class="text-dark text-center">
                ©
                <script>document.write(new Date().getFullYear());</script> BidZone - All Rights Reserved.
            </p>
        </div>
    </footer>
    <!-- Footer End !-->
    <!-- JavaScript Libraries -->
    <script src="~/user/js/auction/jquery.min.js"></script>
    <script src="~/user/js/auction/bootstrap.bundle.min.js"></script>
    <script src="~/user/js/auction/swiper.min.js"></script>
    <script src="~/user/js/auction/custom.js"></script>
    @{
        var settings = new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore
            };

        string json = JsonConvert.SerializeObject(Model.Bids, settings);

    }
    <script>
        var bids = @Html.Raw(json);

        bids.forEach(function (bid) {
            var auction = bid.Auction;
            var endTime = new Date(auction.EndTime).getTime();
            var startTime = new Date(auction.StartTime).getTime();
            console.log(endTime);

            var x = setInterval(function () {
                var now = new Date().getTime();
                var distance = endTime - now;
                var timerId = 'timer-' + bid.Id;
                console.log(auction.Id);
                var timerElement = document.getElementById(timerId);

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                timerElement.innerHTML = `<span>${days}D </span>:<span>${hours}H </span>:<span>${minutes}M </span>:<span>${seconds} S</span>`;

                if (distance < 0) {
                    clearInterval(x);
                    timerElement.innerHTML = "EXPIRED";
                    updateAuctionStatus(auction.Id);
                }
            }, 1000);
        });

        function updateAuctionStatus(auctionId) {
            fetch('/User/Auction?id=' + auctionId + '&handlder=update', {
                method: 'Get'
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Auction status updated successfully');
                    } else {
                        console.error('Failed to update auction status');
                    }
                })
                .catch(error => {
                    console.error('Error updating auction status:', error);
                });
        }
    </script>
    <script>(function () { var js = "window['__CF$cv$params']={r:'8625a2844cfb04ea',t:'MTcxMDA5ODE0MC45MzYwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../cdn-cgi/challenge-platform/h/b/scripts/jsd/aeb70db32f0f/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);"; var _0xh = document.createElement('iframe'); _0xh.height = 1; _0xh.width = 1; _0xh.style.position = 'absolute'; _0xh.style.top = 0; _0xh.style.left = 0; _0xh.style.border = 'none'; _0xh.style.visibility = 'hidden'; document.body.appendChild(_0xh); function handler() { var _0xi = _0xh.contentDocument || _0xh.contentWindow.document; if (_0xi) { var _0xj = _0xi.createElement('script'); _0xj.innerHTML = js; _0xi.getElementsByTagName('head')[0].appendChild(_0xj); } } if (document.readyState !== 'loading') { handler(); } else if (window.addEventListener) { document.addEventListener('DOMContentLoaded', handler); } else { var prev = document.onreadystatechange || function () { }; document.onreadystatechange = function (e) { prev(e); if (document.readyState !== 'loading') { document.onreadystatechange = prev; handler(); } }; } })();</script>
</body>


<!-- Mirrored from theme.bitrixinfotech.com/bidzone/bid-history.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 19:16:00 GMT -->
</html>