@page
@model PhanSyTrongRazorPage.Pages.Admin.ManageCustomer.CustomerProfileModel
@{
    ViewData["Title"] = "Customer Profile";
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Customer Profile</h1>

<div>
    <form id="updateForm" method="post">
        <div class="form-group">
            <label for="customerName">Full Name:</label>
            <input type="text" id="customerName" class="form-control" value="@Model.customer.CustomerFullName" />
        </div>
        <div class="form-group">
            <label for="customerEmail">Email:</label>
            <input type="email" id="customerEmail" class="form-control" value="@Model.customer.EmailAddress" />
        </div>
        <div class="form-group">
            <label for="customerBirthday">Birth day:</label>
            <input type="text" id="customerBirthday" class="form-control" value="@Model.customer.CustomerBirthday" />
        </div>
        <div class="form-group">
            <label for="customerTelephone">Telephone:</label>
            <input type="text" id="customerTelephone" class="form-control" value="@Model.customer.Telephone" />
        </div>
        <div class="form-group">
            <label for="customerStatus">Status:</label>
            <input type="number" id="customerStatus" class="form-control" value="@Model.customer.CustomerStatus" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>


